body {
  margin: auto;
  max-width: 80%;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
}